{% extends 'base.html' %}
{% block content %}
{% load countries %}
{% load crispy_forms_tags %}
{% load i18n %}
<!--Breadcrumb Tow Start-->
<div class="breadcrumb-tow-checkout mb-120">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb-title">
                  <!-- <h1>Checkout</h1> -->
              </div>
              <div class="breadcrumb-content breadcrumb-content-tow">
                  <ul>
                      <li><a href="/">{% trans "Home" %}</a></li>
                      <li class="active">{% trans "CheckOut" %}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--Breadcrumb Tow End-->
<!--Checkout Area Strat-->
<div class="checkout-area mb-80">
<div class="container">
  <div class="row">
          <div class="col-12">
              <div class="coupon-accordion">
                  <!--Accordion Start-->
                  <h3>{% trans "Have a coupon" %}? <span id="showcoupon">{% trans "Click here to enter your code" %}</span></h3>
                  <div id="checkout_coupon" class="coupon-checkout-content">
                      <div class="coupon-info">
                          <form action="#">
                              <p class="checkout-coupon">
                                  <input placeholder="Coupon code" type="text">
                                  <input value="Apply Coupon" type="submit">
                              </p>
                          </form>
                      </div>
                  </div>
                  <!--Accordion End-->
              </div>
          </div>
  </div>
  <div class="row">
      <div class="col-lg-6 col-12">
          <form action="#">
              <div class="checkbox-form">
                  <h3>{% trans "Billing Details" %}</h3>
                  <div class="row">
                    <div class="col-md-6">
                          <div class="checkout-form-list">
                              <label>{% trans "First Name" %} <span class="required">*</span></label>
                              <input placeholder="" type="text">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="checkout-form-list">
                              <label>{% trans "Last Name" %} <span class="required">*</span></label>
                              <input placeholder="" type="text">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="checkout-form-list">
                              <label>{% trans "Address" %} <span class="required">*</span></label>
                              <input placeholder="Street address" type="text">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="checkout-form-list">
                              <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="country-select clearfix wrapper">
                              {% get_countries as countries %}
                              <label>{% trans "Country" %} <span class="required">*</span></label>
                              <!-- <div class="country"> -->
                                <select class="wide"size="5" >
                                      {% for country in countries %}
                                      <option value="{{ country.code }}">{{ country.name }}</option>
                                  {% endfor %}
                                </select>
                              <!-- </div>   -->
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="checkout-form-list">
                              <label>{% trans "Postcode / Zip" %}<span class="required">*</span></label>
                              <input placeholder="30000" type="text">
                          </div>
                      </div>

                  </div>
                  <div class="different-address">
                      <div class="ship-different-title">
                          <h3>
                                  <label>{% trans "Ship to a different address?" %}</label>
                                  <input id="ship-box" type="checkbox">
                              </h3>
                      </div>
                      <div id="ship-box-info" class="row">
                              <div class="col-md-6">
                                  <div class="checkout-form-list">
                                      <label>{% trans "First Name" %} <span class="required">*</span></label>
                                      <input placeholder="" type="text">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="checkout-form-list">
                                      <label>{% trans "Last Name" %}<span class="required">*</span></label>
                                      <input placeholder="" type="text">
                                  </div>
                              </div>
                              <div class="col-md-12">
                                <div class="country-select clearfix">
                                    {% get_countries as countries %}
                                    <label>{% trans "Country" %} <span class="required">*</span></label>
                                    <select class="wide">
                                          {% for country in countries %}
                                          <option value="{{ country.code }}">{{ country.name }}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="checkout-form-list">
                                      <label>{% trans "Address" %} <span class="required">*</span></label>
                                      <input placeholder="Street address" type="text">
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="checkout-form-list">
                                      <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="checkout-form-list">
                                      <label>{% trans "Postcode / Zip" %} <span class="required">*</span></label>
                                      <input placeholder="" type="text">
                                  </div>
                              </div>
                      </div>
                      <div class="order-notes">
                          <div class="checkout-form-list">
                              <label>{% trans "Order Notes" %}</label>
                              <textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-lg-6 col-12">
          <div class="your-order">
              <h3>{% trans "Your order" %}</h3>
              <div class="your-order-table table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th class="cart-product-name">{% trans "Product" %}</th>
                              <th class="cart-product-total">{% trans "Total" %}</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for order_item in orders.items.all %}
                        <tr class="cart_item">
                            <td class="cart-product-name">{{order_item.item.display_name}}<strong class="product-quantity"> {{order_item.item.product_unit_price}}$ × {{order_item.quantity}}</strong></td>
                            <td class="cart-product-total"><span class="amount">{{order_item.get_total_price}}$</span></td>  
                        </tr>
                        {%  endfor %}
                          
                      </tbody>
                      <tfoot>
                          <tr class="cart-subtotal">
                              <th>{% trans "Cart Subtotal" %}</th>
                              <td><span class="amount">{{orders.get_total}}$</span></td>
                          </tr>
                          <tr class="order-total">
                              <th>Order Total</th>
                              <td><strong><span class="amount">{{orders.get_total}}$</span></strong></td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
              <div class="payment-method">
                  <div class="payment-accordion">
                      <div id="accordion">
                            <div class="card">
                              <div class="card-header" id="#payment-1">
                                <h5 class="panel-title">
                                  <a class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {% trans "Direct Bank Transfer." %}
                                  </a>
                                </h5>
                              </div>
                              <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                <div class="card-body">
                                  <p>{% trans "Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account." %}
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="#payment-2">
                                <h5 class="panel-title">
                                  <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    {% trans "Cheque Payment" %}
                                    
                                  </a>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                  <p>{% trans "Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account." %}</p>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="#payment-3">
                                <h5 class="panel-title">
                                  <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    {% trans "PayPal" %}
                                  </a>
                                </h5>
                              </div>
                              <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                  <p>{% trans "Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account." %}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="order-button-payment">
                              <div class="order-button-payment">
                                  <input value="Place order" type="submit">
                              </div>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<!--Checkout Area End-->
  
{% endblock %}

{% block extra_scripts %}

{% endblock extra_scripts %}
