{% load cart_template_tags %}
{% load product_description %}

{% load static %}
<header>
  <div class="header-container">
      <div class="header-area header-sticky pt-10 pb-10">
              <div class="container-fluid pl-50 pr-50">
                  <div class="row">
                      <!--Header Logo Start-->
                      <div class="col-lg-3 col-md-3">
                          <div class="logo-area">
                              <a href="index.html">
                                  <img src="{% static 'img/logo/logo.png' %}" alt="">
                              </a>
                          </div>
                      </div>
                      <!--Header Logo End-->
                      <!--Header Menu And Mini Cart Start-->
                      <div class="col-lg-9 col-md-9 text-lg-right">
                          <!--Main Menu Area Start-->
                          <div class="header-menu">
                              <nav>
                                  <ul class="main-menu">
                                      <li><a href="/">home</a></li>
                                      <li><a href="/shop/0/0/">Shops</a></li>
                                      <li><a href="about.html">About Us</a></li>
                                      <li><a href="/contactus">Contact Us</a></li>
                                  </ul>
                              </nav>
                          </div>
                          <!--Main Menu Area End-->
                          <!--Header Option Start--> 
                          {% if request.user.is_authenticated %}
                          <div class="header-option">
                              <div class="mini-cart-search">
                                  <div class="mini-cart">
                                      <a href="#">
                                          <span class="cart-icon">
                                             <span class="cart-quantity">{{ request.user|cart_item_count }}</span>
                                          </span>
                                          <span class="cart-title">Your cart <br>{{ request.user|cart_item_total }}$</span> 
                                      </a>
                                     <!--Cart Dropdown Start-->
                                    <div class="cart-dropdown">
                                          <ul class="checkout">
                                          {% for order_item in request.user|order_items %}
                                          <li class="single-cart-item">
                                              {% with order_item.item.product_images|split:"," as images %}
                                              {% for image in images %} 
                                              {% if forloop.counter == 1 %} 
                                              <div class="cart-img">
                                                  <a href="/products/{{order_item.shop}}/{{order_item.item.id}}/"><img src="{{ image|escape }}" alt="cart_item.display_name"></a>
                                              </div>
                                              <div class="cart-content">
                                                  <h5 class="product-name"><a href="/products/{{order_item.shop}}/{{order_item.item.id}}/">{{order_item.item.display_name}}</a></h5>
                                                  <span class="cart-price">{{order_item.quantity}} × ${{order_item.item.product_unit_price}} = {{order_item.get_total_price}}$</span>
                                              </div>
                                              <div class="cart-remove">
                                                      <a title="Remove" href="{% url 'core:remove_from_the_cart' order_item.item.slug %}"><i class="fa fa-times"></i></a>
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                              {% endwith %}
                                          {% endfor %}    

                                      <ul>
                                      <p class="cart-subtotal"><strong>Subtotal : {{request.user|cart_item_total}}$</strong> <span class="float-right"></span></p> 
                                      <p class="cart-btn">
                                          <a href="/order_summary">View cart</a>
                                          <a href="/checkout">Checkout</a>
                                      </p>
                                    </div>
                                     <!--Cart Dropdown End--> 
                                  </div>
                                  <div class="header-search">
                                      <div class="search-box">
                                          <a href="#"><i class="fa fa-search"></i></a>
                                          <div class="search-dropdown">
                                              <form action="#">
                                                  <input name="search" id="search" placeholder="" value="Search product..." onblur="if(this.value==''){this.value='Search product...'}" onfocus="if(this.value=='Search product...'){this.value=''}" type="text">
                                                  <button type="submit"><i class="fa fa-search"></i></button>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="currency">
                                      <div class="currency-box">
                                          <a href="#"><i class="fa fa-th"></i></a>
                                          <div class="currency-dropdown">
                                              <ul class="menu-top-menu">
                                                  <li><a href="/account">My Account</a></li>
                                                  <li><a href="/wishlist">Wishlist</a></li>
                                                  <li><a href="/order_summary">Shopping cart</a></li>
                                                  <li><a href="/checkout">Checkout</a></li>
                                                  <li><a href="/accounts/logout/">Log Out</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% else %}

                          {% endif %}
                          <!--Header Option End--> 
                      </div>
                      <!--Header Menu And Mini Cart End-->
                  </div>
                  <div class="row">
                      <div class="col-12"> 
                          <!--Mobile Menu Area Start-->
                          <div class="mobile-menu d-lg-none"></div>
                          <!--Mobile Menu Area End-->
                      </div>
                  </div>
              </div>
          </div>
  </div>
</header>

