{% extends 'base.html' %}
{% load product_description %}



{% block content %}

  <!--Breadcrumb Tow Start-->
  <div class="breadcrumb-tow mb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-title">
                    <!-- <h1>Shopping Cart</h1> -->
                </div>
                <div class="breadcrumb-content breadcrumb-content-tow">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active">Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Tow End-->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area mb-110">
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="#">
                <div class="table-content table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="plantmore-product-thumbnail">images</th>
                                <th class="cart-product-name">Product</th>
                                <th class="plantmore-product-price">Unit Price</th>
                                <th class="plantmore-product-quantity">Quantity</th>
                                <th class="plantmore-product-subtotal">Total</th>
                                <th class="plantmore-product-remove">remove</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for order_item in object.items.all %}
                            <tr>
                                {% with order_item.item.product_images|split:"," as images %}
                                {% for image in images %} 
                                {% if forloop.counter == 1 %} 
                                <td class="plantmore-product-thumbnail"><a href="/products/{{order_item.shop}}/{{order_item.item.id}}"><img src = "{{ image|escape }}" alt="order_item.item.display_name" style="width:25%;height:25%"></a></td>
                                {% endif %}
                                {% endfor %}
                                {% endwith %}
                                <td class="plantmore-product-name"><a href="/products/{{order_item.shop}}/{{order_item.item.id}}">{{order_item.item.display_name}}</a></td>
                                <td class="plantmore-product-price">
                                  {% if order_item.item.discount_price %}
                                  <span class="amount">$&nbsp;{{order_item.item.discount_price}}</span>
                                  {% else %}
                                  <span class="amount">$&nbsp;{{order_item.item.product_unit_price  }}</span>
                                  {% endif %}
                                </td>
                                <td class="plantmore-product-quantity">
                                    <input value="{{order_item.quantity}}" type="number" min= "1" id="quantity{{order_item.id}}" onchange="quantity(this.value,{{order_item.id}},{{order_item.user_id}})" > 
                                </td>
                                <td class="product-subtotal">
                                  {% if order_item.item.discount_price %}
                                  <span class="amount" id="total{{order_item.id}}">$&nbsp;{{order_item.get_total_discount_price}}</span>
                                  {% else %}
                                  <span class="amount"id="total{{order_item.id}}">$&nbsp;{{order_item.get_total_price}}</span>
                                  {% endif %}
                                </td>
                                <td class="plantmore-product-remove"><a href="{% url 'core:remove_from_the_cart' order_item.item.slug %}"><i class="fa fa-times"></i></a></td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="5">Your cart is empty</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if object.coupon %}
                        <div class="coupon-all">
                            <div class="coupon">
                                <input id="coupon_code" class="input-text" name="coupon_code" value="{{object.coupon.amount}}" placeholder="Coupon code" type="text">
                                <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                            </div>
                            <div class="coupon2">
                                <input class="button" name="update_cart" value="Update cart" type="submit">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 ml-auto">
                        <div class="cart-page-total">
                            <h2>Cart totals</h2>
                            <ul>
                                <li>Subtotal <span class="cart_sub_total">$&nbsp;{{object.get_total}}</span></li>
                                <li>Total <span class="cart_total">$&nbsp;{{object.get_total}}</span></li>
                            </ul>
                            <a href="/checkout/">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--Shopping Cart Area End-->

{% endblock %}

{% block extra_scripts %}
<script>
    function quantity(e,id,user_id){
      console.log(id);
      console.log(e);
      $.ajax({
            url: '/quantity/',
            type:"POST",
            data: {
              'item_id': id,
              'counter':e,
              'user_id':user_id
            },
            success: function (data) {
                document.querySelector("#total"+id).innerHTML = data['total'];
                document.querySelector(".cart_total").innerHTML = data['cart_total_price'];
                document.querySelector(".cart_sub_total").innerHTML = data['cart_total_price'];


            }
        });
    }
</script>
{% endblock %}


 