{% extends 'base.html' %}
{% load i18n %}
{% load product_description %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
 <!--Breadcrumb One Start-->
  <div class="breadcrumb-one-product mb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-img">
                </div>
                <div class="breadcrumb-content breadcrumb-content-product">
                    <ul>
                        <li><a href="index.html">{% trans "Home" %}</a></li>
                        <li class="active">{% trans "Product detail" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
<!--Breadcrumb One End-->
{% for item in product %}
<!--Single Product Area Start-->
<div class="single-product-area mb-115">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 col-lg-5">
                <div class="product-details-img-tab">
                    <!--Product Tab Content Start-->
                    <div class="tab-content single-product-img">
                          {% with item.product_images|split:"," as images %}
                          {% for image in images %} 
                          {% if forloop.counter == 1 %} 
                          <div class="tab-pane fade show active" id="product{{forloop.counter}}">
                              <div class="product-large-thumb img-full">
                                 <div class="easyzoom easyzoom--overlay">
                                    <a href="{{ image|escape }}">
                                        <img src="{{ image|escape }}" alt="">
                                    </a>
                                    <a href="{{ image|escape }}" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                 </div>
                              </div>
                          </div>
                          {% else %}
                           <div class="tab-pane fade" id="product{{forloop.counter}}">
                              <div class="product-large-thumb img-full">
                                 <div class="easyzoom easyzoom--overlay">
                                    <a href="{{ image|escape }}">
                                      <img src="{{ image|escape }}" alt="">
                                    </a>
                                    <a href="{{ image|escape }}" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                 </div>
                              </div>
                           </div>  
                           {% endif %}   
                           {% endfor %}
                           {% endwith %}
                          
                        </div>
                    <!--Product Tab Content End-->
                    <!--Product Tab Menu Start-->
                    <div class="product-menu">
                        <div class="nav product-tab-menu">
                              
                              {% with item.product_images|split:"," as imgs %}
                              {% for img in imgs %} 
                              {% if forloop.conuter == 1 %} 
                              <div class="product-details-img">
                                <a class="active" data-bs-toggle="tab" href="#product{{forloop.counter}}"><img src="{{ img|escape}}" alt="" ></a>
                              </div>
                               {% else %}
                               <div class="product-details-img">
                                <a data-bs-toggle="tab" href="#product{{forloop.counter}}"><img src="{{ img|escape }}" alt=""></a>
                              </div>   
                               {% endif %}  
                               {% endfor %}
                               {% endwith %}
                            </div>
                    </div>
                    <!--Product Tab Menu End-->
                </div>
            </div>
            <div class="col-md-12 col-lg-7">
                    <!--Product Details Content Start-->
                <div class="product-details-content">
                        <!--Product Nav Start-->
                        <div class="product-nav">
                            <a href="#"><i class="fa fa-angle-left"></i></a>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <!--Product Nav End-->
                    <h2>{{item.product_full_name}}</h2>
                    <div class="single-product-reviews">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <a class="review-link" href="#">(1 customer review)</a>
                        </div>
                        <div class="single-product-price">
                          <span class="regular-price">{% trans "Case : " %}${{item.product_case_price}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                          <span class="regular-price">{% trans "Unit : " %}${{item.product_unit_price}}</span>
                        </div>
                        <div class="product-description">
                            {% with item.product_speciation|split:"', '" as skills %}
                            {% for skill in skills %}
                                {{ skill|escape }}<br>
                            {% endfor %}
                            {% endwith %}
                        </div>
                        <p class="stock in-stock">{% trans "150 in stock" %}</p>
                        <div class="single-product-quantity">
                            <form class="add-quantity" action="/add_to_cart/{{shop_id}}/{{item.slug}}/">
                                <div class="add-to-link">
                                    <button class="product-btn" data-text="add to cart">{% trans "add to cart" %}</button>
                                </div>
                            </form>
                       </div>
                        <div class="wishlist-compare-btn">
                            <a href="" class="wishlist-btn">{% trans "Add to Wishlist" %}</a>
                            <a href="#" class="add-compare">{% trans "Compare" %}</a>
                        </div>
                        <div class="product-meta">
                            <!-- <span class="posted-in">
                                    Categories: 
                                <a href="#">{{object.item_category}}</a>,
                            </span> -->
                        </div>
                        <div class="single-product-sharing">
                            <h3>{% trans "Share this product" %}</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                </div>
                <!--Product Details Content End-->
            </div>
            
        </div>
    </div>
</div>
<!--Single Product Area End-->
<!--Product Description Review Area Start-->
<div class="product-description-review-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-review-tab">
                    <!--Review And Description Tab Menu Start-->
                    <ul class="nav dec-and-review-menu">
                          <li>
                            <a class="active" data-bs-toggle="tab" href="#description">{% trans "Description" %}</a>
                          </li>
                          <li>
                            {% if comments.count != 0 %}
                              <!-- <a data-bs-toggle="tab" href="#reviews">Reviews ({{comments.count}})</a> -->
                            {% else %}
                            <!-- <a data-bs-toggle="tab" href="#reviews">Reviews</a> -->
                            {% endif %}
                          </li>
                        </ul>
                    <!--Review And Description Tab Menu End-->
                    <!--Review And Description Tab Content Start-->
                    <div class="tab-content product-review-content-tab" id="myTabContent-4">
                          <div class="tab-pane fade active show" id="description">
                              <div class="single-product-description">
                                  <table class="table table-bordered table-striped" style="width: 80%; margin-left: auto; margin-right: auto;">
                                    {% with item.product_specificaions|split:"," as skills %}
                                    {% for skill in skills %}
                                        <tr>
                                            {% with skill|split:":" as tr_data %}
                                                {% for td_data in tr_data %}
                                                    {% if td_data|escape == ' ' %}
                                                        <!--  continue  -->
                                                    {% else %}
                                                        <td>{{ td_data|escape}}</td>
                                                    {% endif %}
                                                {% endfor %}                
                                            {% endwith %}        
                                        </tr>
                                    {% endfor %}
                                    {% endwith %}
                                </table>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="reviews">
                              <div class="review-page-comment">
                                {% if comments %}
                                {% for comment in comments %}
                                <h2>{% trans "1 review for Sit voluptatem" %}</h2>
                                <ul>
                                    <li>
                                        <div class="product-comment">
                                            <img src="{% static 'img/icon/author.png' %}" alt="">
                                            <div class="product-comment-content">
                                                <div class="product-reviews">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <p class="meta">
                                                    <strong>{{comment.user.username}}</strong> - <span>{{comment.date}}</span>
                                                <div class="description">
                                                    <p>{{comment}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <div class="review-form-wrapper">
                                    <div class="review-form">
                                        <span class="comment-reply-title">{% trans "Add a review" %} </span>
                                        <form action="" method="post">
                                          {% csrf_token %}
                                            <p class="comment-notes">
                                                <span id="email-notes">{% trans "Your email address will not be published." %}</span>{% trans "Required fields are marked" %}
                                                 
                                                 <span class="required">*</span>
                                            </p>
                                            <div class="comment-form-rating">
                                                <label>{% trans "Your rating" %}</label>
                                                <div class="rating">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="input-element">
                                                <div class="comment-form-comment">
                                                    <label>{% trans "Comment" %}</label>
                                                    <textarea name="message" cols="40" rows="8"></textarea>
                                                </div>
                                                <div class="review-comment-form-author">
                                                    <label>{% trans "Name" %} </label>
                                                    <input required="required" type="text">
                                                </div>
                                                <div class="review-comment-form-email">
                                                    <label>{% trans "Email" %}  </label>
                                                    <input required="required" type="text">
                                                </div>
                                                <div class="comment-submit">
                                                    <button type="submit" class="form-button">{% trans "Submit" %} </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                              </div>
                          </div>
                        </div>
                    <!--Review And Description Tab Content End-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Product Description Review Area Start-->
<!--Also Like Product Start-->
<div class="also-like-product">
    <div class="container">
        <div class="row">
            <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <h3>{% trans "You may also like ..." %} </h3>
                    </div>
                </div>
                <!--Section Title End-->
        </div>
        <div class="row">
            <div class="product-slider-active p-0">

                    <!--Single Product Start-->
                    {% with item.related_product_ID|split:"," as related_products %}
                        {% for related_product in related_products %}
                            {% for dolloar in object_list %}
                                {% if dolloar.product_id in related_product|escape %}
                                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                                        <!--Single Product Start-->
                                        <div class="single-product mb-25">
                                            <div class="product-img img-full">
                                                <a href="/products/{{shop_id}}/{{dolloar.id}}">
                                                    {% with dolloar.product_images|split:"," as images %}
                                                    {% for image in images %}
                                                    {% if forloop.counter == 1 %}
                                                    <img src="{{ image|escape }}" alt="{{product.display_name}}" style="width: 70%;height: 70%;" >   
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endwith %}
                                                       
                                                </a>
                                                <span class="onsale">{% trans "Sale!" %} </span>
                                                <div class="product-action">
                                                    <ul>
                                                        <li><a href="#open-modal" data-bs-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-content">
                                                <h2><a href="/products/{{shop_id}}/{{dolloar.id}}">{{dolloar.display_name}}</a></h2>
                                                <div class="product-price">
                                                    <div class="price-box">
                                                        <span class="regular-price">{{dolloar.product_case_price}}$/unit</span>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a href="/add_to_cart/{{shop_id}}/{{dolloar.slug}}/"><img src="{% static 'img/cart/cart_button.jpg' %}" style="width: 13em;"/></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!--Single Product End-->
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endwith %}

            </div>
        </div>
    </div>
</div>
<!--Also Like Product End-->
{% endfor %}
{% endblock %}


