{% extends 'base.html' %}
{% load product_description %}
{% load static %}
{% load pagination %}
{% block content %}
{% load i18n %}

<!--Shop Area Start-->
<div class="shop-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <!--Product Category Widget Start-->
                <div class="shop-sidebar">
                    <h4>{% trans "Product Categories" %}</h4>
                    <div  id = "tree" class="categori-checkbox">

                            <ul>
                                {% for category in Categories %}
                                <li><p onclick="subcategory('{{shop_id}}','{{category.id}}')"><span><i class="fa fa-chevron-right"></i></span>{{category.name}}</p></li>
                                {% endfor %}
                            </ul>
                        
                    </div>
                </div>
                <!--Product Category Widget End-->
                <!--Color Category Widget Start-->
                <div class="shop-sidebar">
                    <h4>{% trans "Color" %}</h4>
                    <div class="categori-checkbox">
                        <form action="#">
                            <ul>
                                <li><input name="product-categori" type="checkbox"><a href="#">{% trans "Gold" %}</a><span class="count">(1)</span></li>
                                <li><input name="product-categori" type="checkbox"><a href="#">{% trans "Green" %}</a><span class="count">(4)</span></li>
                                <li><input name="product-categori" type="checkbox"><a href="#">{% trans "White" %}</a><span class="count">(5)</span></li>
                            </ul>
                        </form>
                    </div>
                </div>
                <!--Color Category Widget End-->
                <!--Price Filter Widget Start-->
                <div class="shop-sidebar">
                    <h4>{% trans "Filter by price" %}</h4>
                    <div class="price-filter">
                        <div id="slider-range"></div>
                        <div class="price-slider-amount">
                            <div class="label-input">
                                <label>price : </label>
                                <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                            </div>
                            <button type="button">{% trans "Filter" %}</button> 
                        </div>
                    </div>
                </div>
                <!--Price Filter Widget End-->
                <!--Recent Product Widget Start-->
                <div class="shop-sidebar">
                    <h4>{% trans "Top Rated Products" %}</h4>
                    <div class="rc-product">
                        <ul>
                            <li>
                                <div class="rc-product-thumb img-full">
                                    <a href="/products/Sofa-Sets/"><img src="{% static 'img/product/product13.jpg' %}" alt=""></a>
                                </div>
                                <div class="rc-product-content">
                                    <h6><a href="/products/Sofa-Sets/">{% trans "Ornare sed consequat" %}</a></h6>
                                    <div class="rc-product-review">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rc-product-price">
                                        <span class="price">$66.00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="rc-product-thumb img-full">
                                    <a href="/products/Sofa-Sets/"><img src="{% static 'img/product/product12.jpg' %}" alt=""></a>
                                </div>
                                <div class="rc-product-content">
                                    <h6><a href="/products/Sofa-Sets/">Condimentum posuere</a></h6>
                                    <div class="rc-product-review">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rc-product-price">
                                        <span class="price">$72.00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="rc-product-thumb img-full">
                                    <a href="/products/Sofa-Sets/"><img src="{% static 'img/product/product11.jpg' %}" alt=""></a>
                                </div>
                                <div class="rc-product-content">
                                    <h6><a href="/products/Sofa-Sets/">Condimentum posuere</a></h6>
                                    <div class="rc-product-review">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rc-product-price">
                                        <span class="price">$72.00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Recent Product Widget End-->
                <!--Banner Widget Start-->
                <div class="shop-sidebar">
                    <div class="sidebar-banner single-banner">
                        <div class="banner-img">
                            <a href="#"><img src="{% static 'img/banner/shop-sidebar.jpg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <!--Banner Widget End-->
                <!--Product Tags Widget Start-->
                <div class="shop-sidebar">
                    <h4>Product Tags</h4>
                    <div class="product-tag">
                        <ul>
                            <li><a href="#">blouse</a></li>
                            <li><a href="#">clothes</a></li>
                            <li><a href="#">fashion</a></li>
                            <li><a href="#">handbag</a></li>
                            <li><a href="#">laptop</a></li>
                        </ul>
                    </div>
                </div>
                <!--Product Tags Widget End-->
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-layout">
                   <!--Breadcrumb One Start-->
                    <div class="breadcrumb-one mb-120">
                        <div class="breadcrumb-img">
                            <img src="{% static 'img/page-banner/shop-banner-1.jpg' %}" alt="">
                        </div>
                        <div class="breadcrumb-content">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active">Shop</li>
                            </ul>
                        </div>
                    </div>
                   <!--Breadcrumb One End-->
                    <!--Grid & List View Start-->
                    <div class="shop-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
                        <div class="grid-list-option">
                             <ul class="nav">
                              <li>
                                <a class="active" data-bs-toggle="tab" href="#grid"><i class="fa fa-th-large"></i></a>
                              </li>
                              <li>
                                <a data-bs-toggle="tab" href="#list"><i class="fa fa-th-list"></i></a>
                              </li>
                            </ul>
                         </div>
                         <!--Toolbar Short Area Start-->
                         <div class="toolbar-short-area d-md-flex align-items-center">
                             <div class="toolbar-shorter ">
                                <label>Sort By:</label>
                                 <select class="wide">
                                     <option data-display="Select">Nothing</option>
                                     <option value="Relevance">Relevance</option>
                                     <option value="Name, A to Z">Name, A to Z</option>
                                     <option value="Name, Z to A">Name, Z to A</option>
                                     <option value="Price, low to high">Price, low to high</option>
                                     <option value="Price, high to low">Price, high to low</option>
                                 </select>
                             </div>
                             <p class="show-product">Showing {% block count %} {{paginate}} {% endblock count %}  of {% block total %}{{total}}{% endblock total %} results</p>
                         </div>
                         <!--Toolbar Short Area End-->
                    </div>
                    <!--Grid & List View End-->
                    <!--Shop Product Start-->
                    <div class="shop-product">
                        <div id="myTabContent-2" class="tab-content">
                            <div id="grid" class="tab-pane fade show active">
                                <div class="product-grid-view">
                                    <div class="row" id = "products_grid">
                                        {% for product in object_list %}
                                        <div class="col-md-4">
                                            <!--Single Product Start-->
                                            <div class="single-product mb-25">
                                                <div class="product-img img-full">
                                                    <a href="/products/{{shop_id}}/{{product.id}}">
                                                        {% with product.product_images|split:"," as images %}
                                                        {% for image in images %}
                                                            {% if forloop.counter == 1 %}
                                                             <img src="{{ image|escape }}" alt="{{product.display_name}}" style="width:70%;height:70%">   
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% endwith %}
                                                       
                                                    </a>
                                                    <span class="onsale">Sale!</span>
                                                    <div class="product-action">
                                                        <ul>
                                                            <li><a href="#open-modal" data-bs-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                                            <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                                            <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="product-content">
                                                    <h2><a href="/products/{{shop_id}}/{{product.id}}">{{product.display_name}}</a></h2>
                                                    <div class="product-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">{{product.product_case_price}}$/unit</span>
                                                        </div>
                                                        <div class="add-to-cart">
                                                            <a href="/add_to_cart/{{shop_id}}/{{product.slug}}/"><img src="{% static 'img/cart/cart_button.jpg' %}" style="width: 13em;"/></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single Product End-->
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div id="list" class="tab-pane fade">
                                <div class="product-list-view" id = "product_list">
                                    {% for product in object_list %}
                                    <div class="product-list-item mb-40">
                                        <div class="row">
                                            <!--Single List Product Start-->
                                            <div class="col-md-4">
                                                <div class="single-product">
                                                    <div class="product-img img-full">
                                                        <a href="/products/{{shop_id}}/{{product.id}}">
                                                        {% with product.product_images|split:"," as images %}
                                                        {% for image in images %}
                                                        {% if forloop.counter == 1 %}
                                                        <img src="{{ image|escape }}" alt="{{product.display_name}}" style="width:70%;height:70%">   
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endwith %}
                                                        </a>
                                                        <span class="onsale">Sale!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="product-content shop-list">
                                                    <h2><a href="/products/{{shop_id}}/{{product.id}}">{{product.display_name}}</a></h2>
                                                    <div class="product-reviews">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="product-description">
                                                        {% with product.product_speciation|split:"', '" as skills %}
                                                        {% for skill in skills %}
                                                            {{ skill|escape }}<br>
                                                        {% endfor %}
                                                        {% endwith %}
                                                        
                                                    </div>
                                                    <div class="product-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">Case : {{product.product_case_price}}$</span>
                                                            <span class="regular-price">Unit : {{product.product_unit_price}}$</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-list-action">
                                                       <div class="add-btn">
                                                            <a href="/add_to_cart/{{shop_id}}/{{product.slug}}/"><img class="add-btn-list" src="{% static 'img/cart/cart_button.jpg' %}" /></a>
                                                        </div>
                                                        <ul class="tool-list-action" class="tool-list-action">
                                                            <li><a href="#open-modal" data-bs-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                                            <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                                            <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Single List Product End-->
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!--Pagination Start-->
                            <div >
                                {% if is_paginated %}
                                  <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                      {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                      {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                  </ul>
                                {% endif %}
                            </div>
                            <!--Pagination End-->
                        </div>
                    </div>
                    <!--Shop Product End-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Shop Area End-->


{% endblock %}

{% block extra_scripts %}
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function subcategory(shop_id,category_id){
        $.ajax({
            url: '/subcategory/',
            type:"POST",
            data: {
              'shop_id': shop_id,
              'category_id':category_id
            },
            success: function (data) {
              if(data.length == 0)
                return;
              if(data[0]['model'] == 'core.dolloaritem' && shop_id == 1){
                var products_grid = ''
                var products_list = ''
                for(var i = 0; i<data.length; i++){
                    var temp = data[i]["fields"]["product_images"];
                    temp = temp.substr(1,temp.length-2);
                    var images = temp.split("', '");
                    for(var j=0; j<images.length; j++){
                        if(j == 0){
                            images[j] = images[j].substr(1,images[j].length)
                        }
                        if(images[j] == "" || images[j] == "'")
                            continue;
                    }
                    console.log(images)
                    products_grid += `<div class="col-md-4">
                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="/products/`+shop_id+`/`+data[i]["pk"]+`">
                                    <img src="`+images[0]+`" alt="`+data[i]['fields']['display_name']+`" style="width:70%;height:70%">
                                </a>
                                <span class="onsale">Sale!</span>
                                <div class="product-action">
                                    <ul>
                                        <li><a href="#open-modal" data-bs-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-content">
                                <h2><a href="/products/`+shop_id+`/`+data[i]["pk"]+`">`+data[i]["fields"]["display_name"]+`</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price">`+data[i]["fields"]["product_case_price"]+`$/unit</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="/order_summary"><img src="/static/img/cart/cart_button.jpg" style="width: 13em;"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                    var temp = data[i]["fields"]["product_speciation"];
                    temp = temp.substr(1,temp.length-2);
                    var speciation = temp.split("', '");
                    var speciation_list = '' 
                    for(var j=0; j<speciation.length; j++){
                        if(j == 0){
                            speciation[j] = speciation[j].substr(1,speciation[j].length)
                        }
                        if(speciation[j] == "" || speciation[j] == "'")
                            continue;
                        else 
                            speciation_list += '<span>'+speciation[j]+'</span><br>'
                    }
                    products_list += `
                    <div class="product-list-item mb-40">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-product">
                                    <div class="product-img img-full">
                                        <a href="/products/`+shop_id+`/`+data[i]["pk"]+`">
                                            <img src="`+images[0]+`" alt=""style="width:70%;height:70%">
                                        </a>
                                        <span class="onsale">Sale!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="product-content shop-list">
                                    <h2><a href="/products/`+shop_id+`/`+data[i]["pk"]+`">`+data[i]["fields"]["display_name"]+`</a></h2>
                                    <div class="product-reviews">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-description">
                                        `+speciation_list+`
                                    </div>
                                    <div class="product-price">
                                        <div class="price-box">
                                            <span class="regular-price">Case : `+data[i]["fields"]["product_case_price"]+`$</span>
                                            <span class="regular-price">Unit : `+data[i]["fields"]["product_unit_price"]+`$</span>
                                        </div>
                                    </div>
                                    <div class="product-list-action">
                                        <div class="add-btn">
                                            <a href="/order_summary"><img class="add-btn-list" src="/static/img/cart/cart_button.jpg" /></a>
                                        </div>
                                        <ul class="tool-list-action" class="tool-list-action">
                                            <li><a href="#open-modal" data-bs-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                    }
                    $("#products_grid").html('')
                    $("#product_list").html('')
                    $("#product_list").html(products_list)
                    $("#products_grid").html(products_grid)
              }else{
                var html = '<ul>'
                html+= '<button class="form-control" onclick="back_tree('+shop_id+','+category_id+')" style="margin-bottom:15px; font-size:1em;">Back</button>'
                for(var i =0; i < data.length; i++){
                    html += '<li><p onclick="subcategory('+shop_id+','+data[i]['pk']+')">'+data[i]['fields']['name']+'</p></li>';
                }
                html += '</ul>';
                $("#tree").addClass('tree-fadeOut-animation');
                sleep(500).then(() => { 
                    $("#tree").html('');
                    $("#tree").removeClass('tree-fadeOut-animation');
                    $("#tree").html(html);
                    $("#tree").addClass('tree-fadein-animation');
                });
              }
            }
        });
    }
    function back_tree(shop_id, category_id){
        $.ajax({
            url: '/back_tree/',
            type:"POST",
            data: {
              'category_id':category_id
            },
            success: function (data) {
              var html = '<ul>'
              if (data[0]['fields']['parentid'] != 0)
                 html+= '<button class="form-control" onclick="back_tree('+shop_id+','+category_id+')" style="margin-bottom:15px; font-size:1em;">Back</button>'
              for(var i =0; i < data.length; i++){
                 html += '<li><p onclick="subcategory('+shop_id+','+data[i]['pk']+')">'+data[i]['fields']['name']+'</p></li>';
              }
              html += '</ul>';
              $("#tree").addClass('tree-fadeOut-animation');
              sleep(500).then(() => { 
                $("#tree").html('');
                $("#tree").removeClass('tree-fadeOut-animation');
                $("#tree").html(html);
                $("#tree").addClass('tree-fadein-animation');
              });
            }
        });
    }
</script>
{% endblock %}